    
    #header{
        font-weight: bold;
        background-color: rgb(187, 198, 219);
        font-size: 30px;
        color: white;
    }
    .wrapper{
        width: 100%;
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lists{
        display: flex;
        margin-right: 60px;
    }
    .lists li{
        margin-right: 20px;
    }
    .title{
        font-size: 40px;
        margin-left: 30px;
    }
    .log{
        margin-right: 30px;
    }
    
        