body { 
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin: 10px;
}
button{
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
}
button:hover{
    color:white;
    background-color: skyblue;
}

a:link { 
    text-decoration: none;
    color: blue;
} 
a:hover { 
    text-decoration: underline;
    color: red;
}
a:visited {
    text-decoration: none;
}
a:active{
    text-decoration: none;
    color: yellow;
}
